body {
  background-color: #333;
  color: #fff;
}

button {
  cursor: pointer;
}

li span {
  display: inline-block;
  min-width: 80px;
}

li span,
li button {
  margin-right: 6px;
}

li + li {
  margin-top: 10px;
}

form + form {
  margin-top: 24px;
}

.done {
  text-decoration: line-through;
}

[data-done] {
  text-decoration: line-through;
}

[data-favorites-lists-container] {
  display: flex;
  gap: 48px;
  flex-flow: row wrap;
}

[data-favorites-lists-container] section header {
  display: flex;
  align-items: center;
  gap: 12px;
}

[data-favorites-list-delete-list]  {
  opacity: 0;
  pointer-events: none;

  /* transition: .2s ease-in-out; */
}

[data-favorites-lists-container] section header:hover [data-favorites-list-delete-list] {
  opacity: 1;
  pointer-events: all;
}

li span::first-letter {
  text-transform: capitalize;
}
