body {
  background-color: #333;
  color: #fff;
}

li span {
  display: inline-block;
  min-width: 80px;
}

li span,
li button {
  margin-right: 6px;
}

li + li {
  margin-top: 10px;
}

.done {
  text-decoration: line-through;
}

[data-done] {
  text-decoration: line-through;
}

[data-favorites-lists-container] {
  display: flex;
  gap: 48px;
}

li span::first-letter {
  text-transform: capitalize;
}
